.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.country {
    border: 2px solid goldenrod;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}

.country img {
    width: 200px;
}