.box {
    width: 400px;
    height: 200px;
    border: 3px solid purple;
    overflow: scroll;
}

.box2 {
    border: 4px solid peru;
    width: 400px;
    height: 200px;
}

.logo {
    width: 100px;
    height: 100px;
}

.feather {
    /*width: 300px;*/
    height: 300px;
}

