.header {
    text-align: center;
}
.logo {
    width: 100px;
}
.header nav {
    background-color: #1e5c80;
    line-height: 40px;
}
.header nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover {
    background-color: #6a9eb6;
    border-radius: 5px;
    cursor: pointer;
}