.blog {
    /*border: 5px solid purple;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;*/

    border: 1px solid #9559dc;
    border-radius: 20px;
    margin: 2px;
    width: 30%;
    display: inline-block;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
}