.stage {
    background-color: lightblue;
    height: 200px;
    min-width: 800px;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

@keyframes sliding {
    0% {
        left: 0;
        top: 0;
        background-color: yellow;
    }
    50% {
        left: 400px;
        top: 150px;
        background-color: red;
    }
    100% {
        left: 800px;
        top: 0;
        background-color: orange;
    }
}

.stage:hover .ball {
    animation: sliding 5s ease-in-out 2s infinite alternate;
}